html, body {
  padding: 0;
  margin: 0;
}

.tetris-container {
  display: inline-flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.tetris-container-inner {
  position: relative;
  margin: 4px;
}
.tetris-container-inner canvas {
  border: 1px solid #777777;
}
.tetris-container-inner canvas:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

#main-tetris {
}